:root{
    --background-card: linear-gradient(180deg, rgba(196, 196, 196, 0) 53.18%, rgba(196, 196, 196, 0.24) 100%); ;
    --green-bodeguita: #007C66;

}

.cardContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-card);
    margin-bottom: 15px;
    padding-bottom: 45px;
    width: 360px;

}
.productTitle {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--green-bodeguita);
}
.productImage{
    height: 250px;
    width: 250px;
}
.priceProduct {
    color: var(--green-bodeguita);
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.includedArticlesTitle {
    color: var(--green-bodeguita);
    margin-bottom: 15px;
}
.articles{
    padding: 0px 35px;
    margin-bottom: 15px;

}
